Provisional_Death_Counts_for_Coronavirus_Disease__COVID-19_.csv
__pycache__/
cdcdata.csv
cdcdata.csv.202005010948
cdcdata.js
cdcdata.tsv
cdcdata.tsv.20200502
cdcdata.tsv.20200504
cdcdata.tsv.20200508
covid19.202005020953.txt
covid_confirmed_usafacts.csv
covid_confirmed_usafacts.js
covid_county_population_usafacts.csv
covid_county_population_usafacts.js
covid_deaths_usafacts.csv
covid_deaths_usafacts.js
covid_test_usafacts.js
data.csv
fludata.20200502.csv
fludata.20200508.csv
fludata.csv
fludata.js
geckodriver.log
job.txt
merged.csv
oldflu.js
